/* estilos generales */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  height: fit-content;
  margin-top: -100px;
  z-index: 1;
  overflow: visible;
  position: relative;
}
/* fuentes */
:root {
}

/* HEADER*/

/* -----------------------------------------------------
esto está puesto para ocupar un h1 
    con el titulo entero en la pagina y no 
    repetir h1 (por las buenas prácticas), pero
    poder mantener el diseño del logo al mismo
    tiempo, por eso está oculto el h1 principal,
    pense en usar un recrangulo blanco que lo tape
    o poner el texto en blanco
    pero lei que google te penaliza por ser no accesible
    o por los que buscan engañar con clickbait del contenido
    de la web al usuario*/
.titulo-para-seo {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
/* --------------------------------------------------*/
.header-container {
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  position: relative;
}
.header-subcontainers {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  align-items: flex-start;
  gap: 0;
}
.subtitle {
  gap: 0;
  padding: 0%;
}
.header-nav-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  margin-top: 76px;
}

.header-nav-container a {
  text-decoration: none;
  font-family: "JetBrains Mono";
  font-size: 1.2rem;
  display: inline-block;
  transition: all 0.3s ease;
  background-color: black;
  width: 154px;
  height: 38px;
  border-radius: 28px 28px 0 0;
  text-align: center;
  padding-top: 15px;
  color: whitesmoke;
}

.header-nav-container a:hover {
  transform: translateY(-16px) scale(1.02);
}

h2 {
  font-family: "JetBrains Mono";
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

/* Main page aka Index/inicio */
.inicio-container {
  width: 1278px;
  height: 628px;
  background-color: black;
  border-radius: 28px;
  margin: 8px auto;
  z-index: 1;
  font-family: "JetBrains Mono";
  color: whitesmoke;
}

.lupa {
  position: absolute;
  animation: float 3s ease-in-out infinite;
  top: 10%;
  right: 30%;
  animation-delay: 1s;
}

.boton-inicio img {
  width: 64px;
  height: auto;
}

.boton-inicio {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 50% 0 0 40%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  80% {
    transform: translateY(10px) rotate(25deg);
  }
  100% {
    transform: translateY(0);
  }
}

.inicio-texto-bienvenida {
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 0;
  margin: 10rem 0 0 20rem;
}

/* footer */

.footer-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  background-color: black;
  margin: auto;
  border-radius: 65px;
}
.header-nav-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  margin-top: 76px;
}
.footer-container-nav a {
  display: inline-block;
  list-style: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  font-family: "JetBrains Mono";
  font-size: small;
}

.index-logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 4px;
  margin: auto;
}
